@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background: url("/img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/
.site {
  width: 100%;
  height: 100%;
  flex-direction: row;
  background: linear-gradient(to bottom, rgba(247,248,250,1) 0%,rgb(223,225,238) 50%, transparent 100%);
}

.site__main {
  flex-basis: 70%;
  flex-direction: row;
}

.site__right-sidebar {
  position: fixed;
  flex-basis: 30%;
  width: 30%;
  height: 100%;
  flex-direction: column;
}

.site__left-sidebar {
  color: #515151;
  font-family: "AvenirNext-DemiBold";
  position: fixed;
  width: 150px;
  margin-top: 25px;
  margin-left: 15px;
  flex-basis: auto;
  flex-grow: 0;
}

.site__content {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 150px;
}

.products{
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
}

.product__display {
  border: 5px solid #D8D8D8;
  background-color: white;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.product__img {
  width: 100%;
}

.product__price {
  position:absolute; 
  font-size: 25px;
  font-weight: bold;
  right: 20px; 
  top: 20px;
}

.product__add {
  margin-top: 10px;
}

.product__add__icon {
  background-color: #D8D8D8;
  border-radius: 50%;
  padding: 10px;
  height: 60px;
  width: 60px;
}

.product__name {
  color: #202020;
  font-size: 18px;
  font-family: "AvenirNext-UltraLight";
  margin-top: 15px;
}

.product__description {
  flex-direction: row;
}

.product__name {
  flex-basis: 0;
  flex-grow: 1;
}

.product__heart {
  margin-top: 5px;
  flex-basis: auto;
  flex-grow: 0;  
}

.cart {
  flex-basis: 0;
  flex-grow: 1;
  overflow: scroll;
  background: #c4ccda;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.cart__title {
  padding-top: 10px;
  position: fixed;
  z-index: 1;
  color: #202020;
  width: 100%;
  font-size: 24px;
  font-family: "AvenirNext-UltraLight";
  background: linear-gradient(0deg, rgba(196,204,218,0.3), rgba(196,204,218,1));
}

.cart__content {
  padding-top: 50px;
  flex-direction: column;  
}

.cart-item {
  margin-bottom: 20px;
  flex-direction: column;
}

.cart-item__top-part {
  flex-direction: row; 
  align-items: center; 
}

.cart-item__image {
  width: 33%;
}

.cart-item__top-part__middle {
  flex-basis: 0;
  flex-grow: 1;
  color: #202020;
  font-size: 18px;
  font-family: "AvenirNext-UltraLight";
  flex-direction: column; 
  align-items: flex-start;
  padding-left: 20px;
}

.cart-item__trash {
  flex-basis: auto;
  flex-grow: 0;  
}

.cart-item__qty {
  margin-left: 23px;
  margin-top: 10px;
}

.adjust-qty {
  color: #202020;
  flex-direction: row; 
  align-items: center;
}

.adjust-qty__button {
  font-size: 18px;
  height: 20px;
  width: 20px;  
  text-align: center;
  border-radius: 50%;
  background-color: #F7F8FA;
}

.adjust-qty__number {
  color: #202020;
  font-size: 18px;
  font-family: "AvenirNext-UltraLight";  
  margin: 0 10px;
}

.cart-checkout-overlay {
  position: fixed;
  bottom: 250px;
  width: 100%;
  height: 15%;
  background: linear-gradient(to bottom, transparent 0%, rgba(196,204,218,1) 50%);
}

.checkout {
  flex-basis: auto;
  flex-grow: 0;
  flex-direction: column;
  align-items: center; 
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background: linear-gradient(to bottom, rgba(192,207,221,1) 0%, #c4ccda 25%, transparent 100%);
}

.checkout__divider {
  border: 1px solid;
  width: 50%;
}

.checkout__coupon-input {
  margin-top: 6px;
  width: 100%;
}

.checkout__main {
  margin-top: 10px;
  width: 100%;
  flex-direction: row;
}

.checkout__label {
  flex-basis: 70%;
  flex-grow: 0;
  color: #202020;
  font-size: 24px;
  font-family: "AvenirNext-Regular";
}

.checkout__label-total {
  margin-top: 10px;
}

.checkout__number {
  flex-basis: 30%;
  flex-grow: 0;
  color: #202020;
  font-size: 24px;
  font-family: "AvenirNext-Regular";
}

.checkout__amount-strikeout {
  margin-top: 10px;
  text-decoration: line-through;
  font-size: 24px;
}

.checkout__amount-saving {
  margin-top: 10px;
  font-weight: bold;
  color: red;
}

.checkout__btn {
  border-radius: 5px;
  height: 70px;
  width: 280px;
  margin: 10px 0;
  background-color: #80A590;
  font-size: 24px;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}

.checkout__icon {
  flex-basis: 40%;
  flex-grow: 0;
}

.checkout_label {
  color: #F7F8FA;
  flex-basis: 60%;
  flex-grow: 0; 
}

.site__right-sidebar-toggle {
  position: fixed;
  visibility: hidden;
  bottom: 0;
  right: 5px;
  transform: rotate(180deg);
  background-color: rgb(30,36,56);
}

.site__right-sidebar-toggle:hover {
  cursor: pointer;
}

.js-show-right-sidebar .site__right-sidebar-toggle {
  transform: rotate(0deg);
  left: 0;
  right: auto;
}

@media (max-width: 950px) {
  .site__right-sidebar {
    width: 40%;
  }

  .site__main {
    flex-basis: 60%;
  }

  .product {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .site__right-sidebar {
    width: 80%;
    visibility: hidden;
    right: 0;
  }

  .site__left-sidebar {
    display: none;
  }

  .site__content {
    margin: 0;
  }

  .site__main {
    flex-basis: 100%;
  }

  .site__right-sidebar-toggle {
    visibility: visible;
  }

  .js-show-right-sidebar .site__right-sidebar {
    width: 80%;
    visibility: visible;
    right: 0;
  }
}
